.card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin-left: 400px;
  }
  
  .card .MuiCardMedia-root {
    width: auto; /* Ensure image width is not constrained */
    height: auto; /* Ensure image height is not constrained */
  }
  